# Laravel & PHP
/vendor
/node_modules
/public/storage
/public/hot
/public/mix-manifest.json
/storage/*.key
/.env
Homestead.yaml
Homestead.json
.env.backup

# Laravel 5 & 6
/.vagrant
.phpunit.result.cache
/storage/debugbar
/storage/logs/*.log
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*

# IDE
/.idea
/.vscode

# Composer
composer.lock

# NPM
npm-debug.log
yarn-error.log

# Dusk
/.env.dusk.local
/screenshots
/tmp
.env.dusk.*.local

# System files
.DS_Store
Thumbs.db
